@import url("../../.local/state/wallust/waybar.css");

@define-color background alpha(@color0, 0.8);
@define-color inactive darker(darker(@foreground));
@define-color active darker(@foreground);

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font, monospace";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  border-radius: 10px;
  background: @background;
  color: @foreground;
}

tooltip {
  background: @background;
  border-radius: 10px;
}

#workspaces button {
  padding: 5px;
  color: @inactive;
  margin-right: 5px;
  background: transparent;
}

#workspaces button.active {
  color: @active;
}

#workspaces button.focused {
  color: @active;
  background: transparent;
}

#workspaces button.urgent {
  color: @color0;
  background: lighter(@active);
}

#workspaces button:hover {
  background: transparent;
  color: lighter(@active);
}

#window,
#clock,
#battery,
#pulseaudio,
#wireplumber,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
  padding: 0px 14px;
}

#temperature.critical {
  color: #eba0ac;
}

#tray {
  margin-right: 10px;
}

#workspaces {
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #fab387;
  margin-right: 14px;
}

#network {
  color: #f9e2af;
}

#bluetooth {
  color: #89b4fa;
}

#pulseaudio,
#wireplumber {
  color: #89b4fa;
}

#wireplumber.microphone,
#pulseaudio.microphone {
  color: #cba6f7;
}

#battery {
  color: #a6e3a1;
}
